@media (max-width: 500px){
	._buybtn {
		position: relative!important;
		transform: initial !important;
		margin-top: 15px;
	}
	._buybtn ._btn {
		width:100%;
	}
}

.product-description h4 {
	font-size: 16px;
}

.product-description ul {
	padding-left: 25px;
}

.product-description .show-more-container a { color: #4285F4; }

@media (min-width: 700px) {
  #product-gallery > img {
    max-width: 100%;
    max-height: 500px;
  }
}

@media (max-width: 700px) {
  #product-gallery > img {
    max-width: 100%;
    max-height: 80vh;
  }
  #product-gallery > ul {
    position: relative !important;
  }
  #product-gallery > ul > img {
    display: inline-block;
  }
}

#comments img.attachment {
  max-height: 300px;
  max-width: 100%;
  display: block;
  margin: 10px 0px;
}

#attachment-preview {
  width: auto!important;
}