[loader] {
    position: relative;
    display: block;
    height: 95%;
    width: 50px;
    margin: 0 auto;
    min-height: 30px;
}
[loader][ng-class]{
    display: none;
}
._loader.sm {
    width: 27px;
    height: 27px;
}

._loader.lg {
    width: 45px;
    height: 45px;
}

._loader {
    width: 32px;
    height: 32px;
}

._loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

._loader .circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

._loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

._loader._c0 .path {
    -webkit-animation: dash 1.5s ease-in-out infinite, color0 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color0 6s ease-in-out infinite;
}

._loader._c2 .path {
    -webkit-animation: dash 1.5s ease-in-out infinite, color2 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color2 6s ease-in-out infinite;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } 
@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } 

@-webkit-keyframes dash { 0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; } 50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; } 100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; } } 
@keyframes dash { 0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; } 50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; } 100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; } }

@-webkit-keyframes color { 100%, 0% { stroke: #d62d20; } 40% { stroke: #0057e7; } 66% { stroke: #008744; } 80%, 90% { stroke: #ffa700; } }
@keyframes color { 100%, 0% { stroke: #d62d20; } 40% { stroke: #0057e7; } 66% { stroke: #008744; } 80%, 90% { stroke: #ffa700; } }

@-webkit-keyframes color0 { 100%, 0% { stroke: #333; } 50% { stroke: #000; } }
@keyframes color0 { 100%, 0% { stroke: #333; } 50% { stroke: #000; } }

@-webkit-keyframes color2 { 100%, 0% { stroke: #fff; } }
@keyframes color2 { 100%, 0% { stroke: #fff; } }