@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/angular-tooltips/dist/angular-tooltips";
@import "./vendor/ng-tags-input";
@import "./vendor/selector";
@import "./vendor/ngDialog";

@import "underscore/core";

._c1{color: #E7E247;}._bg1{background: #E7E247;}
._c2{color: #3D3B30;}._bg2{background: #3D3B30;}
._c3{color: #4D5061;}._bg3{background: #4D5061;}
._c4{color: #5C80BC;}._bg4{background: #5C80BC;}
._c5{color: #E9EDDE;}._bg5{background: #E9EDDE;}

@media (max-width: 768px){
	.container {
	    padding: 0!important;
	}
}

@media (max-width: 768px){
	#app {
	    margin-top: 50px;
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
